{% extends "base.html" %}
{% block content %}
<div class="clr">
    <div class="banner">
        <div class="bnm">
            <h1>
                testing the project
           </h1>
           <button>nnnnn this is button</button>
           <p class="p">
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam ducimus eum, est adipisci fugiat magni velit omnis culpa et delectus explicabo, eveniet voluptas, rem obcaecati. Rerum natus quos inventore nihil!
           </p>
        </div>
    </div>
    <div class="coloroverlap"></div>
</div>


<div class="watwedo">

    <div class="dolist">
      <h1>
          Teat work
      </h1>
      <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est ad praesentium blanditiis maiores rem in placeat, nulla excepturi tempora consequuntur, reprehenderit fuga fugit exercitationem magni dolorem ex repellat autem! Necessitatibus.
      </p>
    </div>


    <div class="dolist">
        <h1>
            Teat work
        </h1>
        <p>
            kkjkjkjkkjkjkjkjkjkjkkjkkkjkjk
        </p>
      </div>


    <div class="dolist">
        <h1>
            Teat work
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est ad praesentium blanditiis maiores rem in placeat, nulla excepturi tempora consequuntur, reprehenderit fuga fugit exercitationem magni dolorem ex repellat autem! Necessitatibus.
        </p>
      </div>


    <div class="dolist">
        <h1>
            Teat work
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est ad praesentium blanditiis maiores rem in placeat, nulla excepturi tempora consequuntur, reprehenderit fuga fugit exercitationem magni dolorem ex repellat autem! Necessitatibus.
        </p>
      </div>


    <div class="dolist">
        <h1>
            Teat work
        </h1>
        <p>
            kkjkjkjkkjkjkjkjkjkjkkjkkkjkjk
        </p>
      </div>


    <div class="dolist">
        <h1>
            Teat work
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est ad praesentium blanditiis maiores rem in placeat, nulla excepturi tempora consequuntur, reprehenderit fuga fugit exercitationem magni dolorem ex repellat autem! Necessitatibus.
        </p>
      </div>

      <button id="clkme" onclick="bnm()">Click Me</button>

</div>


{% endblock %}
