{% extends "base.html" %}
{% block content %}


                <form action="{{ url_for('getreg') }}"  method="POST">

                      <label >name</label>
                      <input type="text" name="name"/>



                      <label >Your Email</label>
                      <input type="email"  name="email"   id="form3Example3c" class="form-control" />




                      <label >Password</label>
                      <input type="password"  name="password" id="form3Example4c" class="form-control" />




                      <label >address</label>
                      <input type="text"   name="add" id="form3Example4cd" class="form-control" />






                      <label >pincode</label>
                      <input type="text" name="pincode" class="form-control" />




                 <input type = "submit" value = "Submit" />

                </form>

              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="img-fluid" alt="Sample image">

              </div>

{% endblock %}