<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>

      <h3>Students (<a href = "{{ url_for('contactform') }}">Add Student
         </a>)</h3>

       <h3>Logout (<a href = "{{ url_for('logout') }}">logout
         </a>)</h3>

      <table>
         <thead>
            <tr>
               <th>Name</th>
               <th>City</th>
               <th>Address</th>
               <th>Pin</th>
            </tr>
         </thead>

         <tbody>
            {% for student in students %}
               <tr>
                  <td>{{ student.name }}</td>
                  <td>{{ student.city }}</td>
                  <td>{{ student.addr }}</td>
                  <td>{{ student.pin }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

   </body>
</html>